* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
}
.container {
    margin: 0px 15px;
    padding: auto;
    justify-content: center;
    justify-items: center;
}
.form-box {
    width: 200%;
    max-width: 450px;
    padding: 150p;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.1);
    display: none;
    display: flex;
}
.form-box input{
    justify-content: center;
    justify-items: center;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
input,
select {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}
.logo img{
    position: absolute;
    margin-top: -300px;
    margin-left: 200px;
    width: 120px;
}